.ED-Wrapper{
    background: url('../assets/gym_mat.jpg');
    background-size: cover;

}
.ED-Container{
    min-height: 90vh;
    padding:20px
}

.css-yx0nvq-MuiButtonBase-root-MuiPaginationItem-root{
    color: white !important;
}
.css-1scal0h-MuiPaginationItem-root{
    color:white !important;
}