.cardContainer{
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
}

.exerciseCard {
  width: 400px;
  height: 445px;
  background: #fff;
  border-radius: 20px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 10px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.exerciseCard img {
  height: 326px;
}