@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;700&display=swap');

body{
    line-height: 1.5;
    font-family: 'Lato';
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.footer-containe{
   margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;

}
.footer-col{
    width: 25%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-col h4{
    font-size: 18px;
    color: #ffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.4s ease;
}
.footer-col ul li a:hover{
    color: #ffff;
    padding-left: 10px;
}