@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


#features{
    width:100%;
    min-height:90vh;
    box-sizing: border-box;
    font-family:'Lato';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    background: url('../assets/textured_background.jpg');
    background-size: cover;
}
#features h1{
    color: #fff;
    font-size: 3rem;
    margin-top: 20px;
    text-align: center;
}
.a-container{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 40px;
}
.a-box{
    width:250px;
    height: 400px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    position: relative;
}

.a-b-img {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 5px;
    margin-top: 40px;
    width:100%;
    height: 50%;

}
.a-box:hover{
    border: 1px solid #FF1414;
    box-shadow: 2px 2px 12px rgba(184, 0, 0, 0.445);
}
.a-b-text{
    width: 100%;
    height: 40%;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.a-b-text h2{
    color: #fff;
}
.a-b-text p{
    margin: 0px;
    color:#ffffffa6;
    font-size: 1.1rem;
    font-family:'Lato';
    display: block;
    display: -webkit-box;
    max-width: 80%;
    margin-top: 5px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}
.a-b-text p:hover{
    color:#ffffff;
}
.a-b-text a{
    margin-top:15px ;
}



@media(max-width:1190px){
    #features{
		height:auto;
    }
    .a-container{
		flex-wrap: wrap;
	}
    .a-box{
		flex-grow: 1;
	}
    .a-b-img img{
		object-fit:contain;
    }
    
}

@media(max-width:600px){
	.name{
		width:60%;
    }
    .pr-heading{
		width:60%;
    }
}

        @media(max-width:400px){
            .a-box{
                width: 100%;
                height:400px;
            }
        }