@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;700&display=swap');

.personalTrainerCardContainer {
    display: flex;
    justify-content: center;
    font-family: 'Lato';
    font-size: 15px;
    padding: 20px;
    width: 80vw;
}

.card {
    font-family: 'Lato';
    padding: 30px;
    margin: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}

.topCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.card:hover{
    transform: scale(1.05, 1.05);
    box-shadow: 0 0 15px rgba(184, 0, 0, 0.445);
}

.left-side-topCard {
    display: flex;
    flex-direction: column;
}

.right-side-topCard {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.preCardInfo {
    color: #f9f6ee;
    display: flex;
    flex-direction: column;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 10px;
}

.trainerName {
    color: #f9f6ee;
}

.imageClickDescription {
    color: #f9f6ee;
    position: relative;
    font-size: x-small;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 23px;
    color: #f9f6ee;
    font-family: 'Lato';
    font-size: 18px;
}

.trainerImg {
    border-radius: 16px;
    height: 30vh;
}

.clickReviews {
    color: white;
    cursor: pointer;
    font-size: 25px;
    text-decoration: underline;
}

@media (max-width: 1000px) {
    .topCard {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .personalTrainerCardContainer {
        padding: 0;
        margin: 0;
        width: 90vw;
    }
}
