@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;700&display=swap');


.personalTrainercardContainer { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Lato';
    font-size: 15px;
    padding: 20px;
    width: 500px;
}

.card {
    font-family: 'Lato';
    padding: 30px;
    margin: 20px;
}



.topCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.left-side-topCard {
    display: flex;
    flex-direction: column;
}

.right-side-topCard {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.preCardInfo {
    color: #F9F6EE;
    display: flex;
    flex-direction: column;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.trainerName{
color: #F9F6EE;
}

.imageClickDescription {
    color: #F9F6EE;
    position: relative;
    font-size: x-small
}


.content {
    display: flex;
    flex-direction: column;
    gap: 23px;
    color: #F9F6EE;
    font-family: 'Lato';
        font-size: 12px;

}

.trainerImg {
    border-radius: 16px;
    height: 30vh;
}


.clickReviews {
    
    color: white;
    cursor: pointer;
    font-size: 12px;
    text-decoration: underline;
}
