@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;700&display=swap');


.cardContainer { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Lato';
    font-size: 15px;
    padding: 20px;
    width: 500px;
}

.card {
    font-family: 'Lato';
    padding: 30px;
    margin: 20px;
}

.trainerName{
color: #F9F6EE;

}

.testCard{
border: 1px solid red;
display: flex;
flex-direction: row;
}


.content {
    display: flex;
    flex-direction: column;
    gap: 23px;
    color: #F9F6EE;
    font-family: 'Lato';
}

.trainerImg {
    width: 500px;
    border-radius: 16px;
    height: 50vh;
}

.topCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}