.signUpForm {
    display: flex;
    flex-direction: column;
    background: url('../assets/dusty_dude_bw.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.form-container{
    padding: 30px 10px 10px;
    width: 40%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(247, 247, 247, 0.753);
    border-radius: 15px;
}


.firstNameContainer,
.lastNameContainer,
.usernameContainer,
.emailContainer,
.passwordContainer
{
    display: flex;
    flex-direction: column;
    padding: 10px;
    letter-spacing: 1px;
    box-shadow: inset 0 0 0 0 #131414;
    transition: .5s;
    width: 80%;
}

.firstNameInput{
    margin:15px;
    height: 50px;
    border-radius: 30px;
    padding: 20px;
    letter-spacing: 1px;
    box-shadow: inset 0 0 0 0 #131414;
    transition: .5s;
}

.lastNameInput{
    margin:15px;
    height: 50px;
    border-radius: 30px;
    padding: 20px;
    letter-spacing: 1px;
    box-shadow: inset 0 0 0 0 #131414;
    transition: .5s;
}

.usernameInput{
    margin: 15px;
    height: 50px;
    border-radius: 30px;
    padding: 20px;
    letter-spacing: 1px;
    box-shadow: inset 0 0 0 0 #131414;
    transition: .5s;
}

.emailInput{
    margin:15px;
    height: 50px;
    border-radius: 30px;
    padding: 20px;
    letter-spacing: 1px;
    box-shadow: inset 0 0 0 0 #131414;
    transition: .5s;
}


.passwordInput{
    margin:15px;
    height: 50px;
    border-radius: 30px;
    padding: 20px;
    letter-spacing: 1px;
    box-shadow: inset 0 0 0 0 #131414;
    transition: .5s;
}



.registerButton {
    margin:15px;
    height: 50px;
    border-radius: 30px;
    letter-spacing: 1px;
    box-shadow: inset 0 0 0 0 #131414;
    transition: .5s;
    background-color: #FF1414;

}

.buttonContainer
{
    display: flex;
    flex-direction: column;
    padding: 10px;
    letter-spacing: 1px;
    box-shadow: inset 0 0 0 0 #131414;
    transition: .5s;
    border-radius: 30px;
    width: 700px;

}


.registerButton:hover{
    color: #E5DADA;
    box-shadow: inset 650px 0 0 0 #000000;
    cursor: pointer;
    transition: 0.4s;
}


.iconList{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}


@media(max-width: 1190px){
    .login-Container{
        background-image: url(../assets/workoutLady2.jpg);
    }
    .form-container{
        width:60%
    }
}
@media(max-width: 720px){

    .form-container{
        width:81%
    }
}
@media(max-width: 376px){
    .login-Container{
        height: 130vh;
    }
}