.app {
  text-align: center;
  /* background: url('../assets/red_black_background.jpg'); */
  background-color: #221f1f;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex: 1;
}

.time {
  font-size: 3rem;
  padding: 2rem;
}

.button {
  padding: .6rem 1.5rem;
  margin: .4rem;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .8rem;
  border-style: groove;
}
.button:hover{
  transform: scale(1.05, 1.05);
}

.button:focus {
  outline-width: 0;
}

.button-primary:hover {
  background-color: #c22929;
  border: 1px solid #2b1b1b;
}

.button-primary-active {
  background-color: #FF1414;
  border: 1px solid #fa5c5c;
  color: white;
}

.button-primary-inactive {
  background-color: #FF1414;
  border: 1px solid #841515;
  color: white;
}