.workout-wrapper {
    background: url('../assets/steel.jpg');
    background-size: cover;
}
.workoutWrapper-overlay {
    background-color: rgba(0, 0, 0, 0.411);
}

.workout-container {
    padding-top: 15vh;
    padding-bottom: 1vh;
}

.inputSelect {
    margin: 15px;
}

.myWorkout-wrapper {
    background: url('../assets/grayGym.jpg');
    background-size: cover;
    padding: 3vh;
    min-height: 80vh;
}

.myWorkout-container {
    display: flex;
    gap: 4vw;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    margin: 4vh 0;
}

#favorites-container {
    display: flex;
    flex-direction: row;
}
#fav-img {
    height: 150px;
    width: 150px;
}
.workout-box {
    font-size: 1.25em;
    padding: 2vh 4vh;
    background-color: aliceblue;
    border-radius: 16px;
    opacity: 0.9;
    margin: 5vh 5vw;
    box-shadow: inset 0 0 10px #000000;
}
.select-container {
    display: flex;
    justify-content: center;
}
.workout-btn {
    display: flex;
    justify-content: center;
}
.workout-title,
.workout-btn,
.select-container {
    margin: 3rem 0;
}
p {
    text-align: center;
}
#get-workout-btn {
    font-family: 'Lato';
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.2s ease-in-out;
    background: #ff1414;
}
#favorites-container {
    display: flex;
    gap: 30px;
}
.workoutBtn-container {
    display: flex;
}
#removeFav-btn,
#addTo-btn,
#complete-btn {
    color: #ffffff;
    background: #ff1414;
    border-radius: 5px;
    width: 70%;
    padding: 15px;
    align-self: center;
}
#removeFav-btn:hover,
#addTo-btn:hover,
#get-workout-btn:hover {
    background: black;
    transition: 0.5s;
}

#complete-btn {
    margin: 20px;
}
#complete-btn:hover {
    background: white;
    color: #ff1414;
    transition: 0.5s;
}

#newExercise-btn {
    color: #ffffff;
    background: black;
    border-radius: 5px;
    margin: 8px;
    padding: 10px;
}
#exercise-btn {
    margin: 10px;
    width: 60%;
    color: black;
}
#myWorkout-card {
    padding: 10px;
    background: white;
    margin: 10px;
    display: flex;
    align-items: center;
}
#myWorkout-card:hover {
    transform: scale(1.05, 1.05);
}

#myWorkout-img {
    margin: 10px 50px;
    max-width: 90%;
    max-height: 100%;
}
.rightSide,
.leftSide {
    gap: 20px;
    min-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    max-height: 100vh;
}
.exercises {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    width: 100%;
    max-height: 90vh;
    min-height: 90vh;
}
.img-wrapper {
    padding: 5px;
    min-height: 30vh;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.9;
}

.list-Wrapper {
    /* padding: 25px 0px; */
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    background: rgba(0, 0, 0, 0.82);
    border: 1px solid black;
    flex: 1;
}

.list-Wrapper::-webkit-scrollbar {
    display: none;
}
.seePic {
    text-align: center;
}
.workoutTitle {
    color: whitesmoke;
}

@media (max-width: 1190px) {
    .myWorkout-container {
        flex-direction: column;
    }
    .rightSide,
    .leftSide {
        display: flex;
        justify-content: center;
        min-width: 100%;
    }
    /* .list-Wrapper {
        justify-content: center;
    } */
}
