.acctInfoPageWrapper {
    background-image: url('./gym_mat2.jpg');
    background-size: cover;
}

.acctInfoPageContainer {
    display: flex;
    justify-content: center;
}

.updateFormContainer {
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.updateSelect,
.infoDisplay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
}

.acctInfoContainer,
.acctUpdateForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25em;
    padding: 2vh 4vh;
    background-color: aliceblue;
    border-radius: 16px;
    opacity: 0.7;
    margin: 25vh 5vw;
    width: 50%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.7);

}

.buttons {
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
}

.updateButton,
.deleteButton,
.confirmButton {
    color: white;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    text-decoration: none;
    text-transform: uppercase;
}

.updateButton {
    flex: 1;
    min-width: 100%;
}

.deleteButton {
    margin-top: 20px;
}

.confirmDeleteBox {
    display: flex;
    flex-direction: column;
}

.warningMessage {
    color: red;
    font-size: 0.8em;
}

.deleteButton,
.confirmButton {
    background-color: #ff1414;
    min-width: 90%;
}

.confirmInputWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}

.confirmDeleteInput {
    margin: 15px;
    height: 50px;
    border-radius: 5px;
    padding: 20px;
    letter-spacing: 1px;
    transition: 0.5s;
    border: thin solid rgba(59, 58, 58, 0.562);
    min-width: 100%;
}

.confirmDeleteInput:focus {
    border: thin solid #ff1414;
}

.confirmDeleteInput::placeholder {
    color: #ff1414;
}

.confirmDeleteBox {
    margin-top: 20px;
    border-radius: 5px;
    padding: 20px;
    letter-spacing: 1px;
    background-color: aliceblue;
    border: thin solid #ff1414;
}

.dropDownMenu {
    width: 15vw;
}

@media (max-width: 1190px) {
    .buttons,
    .confirmInputWrapper {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 800px) {
    .acctInfoPageContainer {
        flex-direction: column;
        padding-top: 150px;
    }
    .acctInfoContainer,
    .acctUpdateForm {
        margin: 5vh 5vw;
        width: auto;
    }

    .updateFormWrapper,
    .updateFormContainer {
        width: 70vw;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .updateSelect {
        width: 70vw;
    }
}
