.loginPageWrapper {
    display: flex;
    height: 100vh;
    background: url('./sign_in_background_1920.jpg');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}
.loginFormContainer {
    margin-top: 20vh;
    width: 40vw;
    height: 60vh;
    display: flex;
    margin-left: 10vw;
    background: rgba(247, 247, 247, 0.753);
    border-radius: 15px;
    margin-bottom: 10px;
}
.loginForm {
    display: flex;
    flex-direction: column;
    padding: 30px 10px 10px;
    width: 100%;
}

.loginForm input,
button {
    margin: 15px;
    height: 50px;
    border-radius: 30px;
    padding: 20px;
    letter-spacing: 1px;
    box-shadow: inset 0 0 0 0 #131414;
    transition: 0.5s;
}
.loginForm input:hover,
button:hover {
    transform: scale(1.05, 1.05);
}

.loginForm button {
    background-color: #ff1414;
}
.loginForm button:hover {
    color: #e5dada;
    box-shadow: inset 650px 0 0 0 #000000;
    cursor: pointer;
    transition: 0.5s;
}

.form-logo {
    height: 40px;
    margin: -8px 0 0 3px;
}
@media (max-width: 1200px) {
    .loginPageWrapper {
        background: url('./sign_in_background_1200.jpg');
    }
}
@media (max-width: 800px) {
    .loginPageWrapper {
        background: url('./sign_in_background_800.jpg');
    }
}
